[data]
gitUserName = "{{ promptString "Git user name" }}"
gitEmail = "{{ promptString "Git email address" }}"
gitEnableCredential = {{ promptBool "Enable credential provider (generic)" }}
miseMinimal = {{ promptBool "Minimal mise setup" }}
