[tools]
"aqua:dandavison/delta" = "latest"
"aqua:cli/cli" = "latest"
"aqua:neovim/neovim" = "latest"
"aqua:BurntSushi/ripgrep" = "latest"
"aqua:jgm/pandoc" = "latest"
"aqua:jqlang/jq" = "latest"
"aqua:jdx/usage" = "latest"
"gitlab:gitlab-org/cli" = "latest"

{{- if not .miseMinimal }}
"core:go" = "latest"
"core:java" = "latest"
"core:node" = "latest"
"core:python" = "latest"
"core:rust" = { version = "latest", components = ["rust-analyzer"] }

"aqua:LuaLS/lua-language-server" = "latest"
"go:golang.org/x/tools/gopls" = "latest"
"npm:typescript-language-server" = "latest"
"npm:pyright" = "latest"
"github:clangd/clangd" = "latest"
"aqua:JohnnyMorganz/StyLua" = "latest"
"npm:sql-formatter" = "latest"
"npm:prettier" = "latest"

"aqua:tsl0922/ttyd" = "latest"
"aqua:charmbracelet/vhs" = "latest"
"github:aquaproj/aqua" = "latest"
{{- end }}

{{- if not .miseMinimal }}
[tools."http:jdtls"]
version = "latest"
url = "https://download.eclipse.org/jdtls/snapshots/jdt-language-server-{{ "{{" }} version {{ "}}" }}.tar.gz"
version_list_url = "https://download.eclipse.org/jdtls/snapshots/latest.txt"
version_regex = 'jdt-language-server-(.+)\.tar\.gz'
{{- end }}

[settings.python]
compile = false

[env]
{{ if eq .chezmoi.os "windows" -}}
RUSTUP_TOOLCHAIN = 'stable-x86_64-pc-windows-gnu'
{{- else if eq .chezmoi.os "linux" -}}
RUSTUP_TOOLCHAIN = 'stable-x86_64-unknown-linux-gnu'
{{- end }}
