[tools]
"aqua:dandavison/delta" = "latest"
"aqua:cli/cli" = "latest"
"aqua:neovim/neovim" = "latest"
"aqua:BurntSushi/ripgrep" = "latest"
"aqua:jgm/pandoc" = "latest"
"aqua:jqlang/jq" = "latest"
"gitlab:gitlab-org/cli" = "latest"

{{- if not .miseMinimal }}
"core:go" = "latest"
"core:java" = "latest"
"core:node" = "latest"
"core:python" = "latest"
"core:rust" = "latest"
"aqua:tsl0922/ttyd" = "latest"
"aqua:jdx/usage" = "latest"
"aqua:charmbracelet/vhs" = "latest"
"github:aquaproj/aqua" = "latest"
{{- end }}

[settings.python]
compile = false

[env]
RUSTUP_TOOLCHAIN = ''
