[core]
    autocrlf = false # 改行コードを自動変換しない
    ignorecase = false # 大文字小文字を区別する
    quotepath = false # パスをクォートせずUTF-8表示
[pull]
    rebase = true # pull時にrebaseする
[fetch]
    prune = true # 取得時に不要ブランチを自動削除
[color]
    ui = auto # 色表示を自動判定
[user]
    name = {{ .gitUserName }} # Gitのユーザー名
    email = {{ .gitEmail }} # Gitのメールアドレス
{{ if .gitEnableCredential }}
[credential] # https://git-scm.com/doc/credential-helpers
    helper = wincred # git-credential-wincred を指定
    provider = generic # GCM の汎用向けホスト認証プロバイダー
{{ end }}
